@import "tailwindcss";



/*



/* :root {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
} */







body {
  font-family: var(--font-mona-sans), system-ui, sans-serif;
  overflow-x: hidden;
}







