@import "tailwindcss";



body {
 
  overflow-x: hidden; /* hide horizontal only */
  overflow-y: auto;   /* allow vertical scroll */
}





:root {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
















