@import "tailwindcss";



body {

  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}




:root {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
